header{
    nav{
        ul{
           display: flex;
           list-style-type: none;
           justify-content: space-evenly;
           padding: 0.3em;
        }
    }
    .toolbox{
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }
    a{
        text-decoration: none;
        color: #000;
    }
}

@media (min-width : 768px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav{
            ul{
                justify-content:flex-start;
                gap: 1em;
            }
        }
        .toolbox{
            position: unset;
            transform: translateX(0);
        }
    }
}