@import './abstracts/_variables.module.scss';

header{
    background-color: $color-header-bg;
    padding: 0.5em 1.5em;
    nav{
        
        ul{
           display: flex;
           list-style-type: none;
           justify-content: space-evenly;
           padding: 0.3em;
        }
    }
    #toolbox{
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }
    a{
        color: $color-header-text;
        text-decoration: none;
    }
}

@media (min-width : 768px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav{
            ul{
                gap: 2em;
            }
        }
        #toolbox{
            position: unset;
            transform: translateX(0);
            gap: 1em;
            padding: 0.3rem 1rem;
            background-color: #fff;
            border-radius: 0.4em;
            img{
                cursor: pointer;
                width: 1em;
            }
        }
    }
}